# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:3000) -- The timeout in milliseconds for the version update check.
# 
# Fri Oct 18 02:13:27 BST 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
updateTimeoutMilliseconds=1500
