# Configuration file

####################
# item
####################

item {
    I:denoflionsx.DenPipes.AddOns.AutomaticWoodenPipe.Pipe.AutomaticWoodenPipe=31714
    I:denoflionsx.DenPipes.AddOns.Emerald.Pipe.AutomaticEmeraldPipe=20002
    I:denoflionsx.DenPipes.AddOns.Forestry.Pipe.PipeForestry=31716
    I:denoflionsx.DenPipes.AddOns.ValvePipe.Pipe.ValvePipe=31713
}


